
  <%for(var i=0;i<bsData.length ;i++){%>

    <div>
      Category :- <%= bsData[i].category%>
        <br>
      Product Name :- <%= bsData[i].productname%>
        <br>
      Product Detail :- <%= bsData[i].detail%>
        <br>
      Product quantity :- <%= bsData[i].quantity%>
        <br>
      Name :- <%= bsData[i].contactname%>
        <br>
       email:- <%= bsData[i].email%>
        <br>
      address:- <%= bsData[i].address%>
        <br>
      state :- <%= bsData[i].state%>
        <br>
      country :- <%= bsData[i].country%>
        <br>
      Pincode :- <%= bsData[i].pincode%>
        
        
         
        
        
    </div>
        <br>
    
  <%}%>